[submodule "controls/ardupilot_gazebo"]
	path = controls/ardupilot_gazebo
	url = https://github.com/JCBreath/ardupilot_gazebo.git
[submodule "localization/ORB_SLAM2_QUADCOPTER_AR"]
	path = localization/ORB_SLAM2_QUADCOPTER_AR
	url = https://github.com/nehalagrawal/ORB_SLAM2_QUADCOPTER_AR.git
