[submodule "controls/ardupilot_gazebo"]
	path = controls/ardupilot_gazebo
	url = https://github.com/JCBreath/ardupilot_gazebo.git
[submodule "controls/ardupilot"]
	path = controls/ardupilot
	url = https://github.com/quadcopter-ar/ardupilot.git
[submodule "localization/ORB_SLAM_SAVE_LOAD_MAP"]
	path = localization/ORB_SLAM_SAVE_LOAD_MAP
	url = https://github.com/quadcopter-ar/ORB_SLAM_SAVE_LOAD_MAP.git
