<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ardupilot_gazebo)/gazebo_worlds/iris_ardupilot_multiuav.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <group ns="uav1">
        <include file="$(find ardupilot_gazebo)/launch/spawn_mavros_instance.launch">
            <arg name="fcu_url" value="udp://127.0.0.1:14551@14555" />
            <arg name="tgt_system" value="1" />
            <arg name="tgt_component" value="1" />
        </include>
    </group>

    <group ns="uav2">
        <include file="$(find ardupilot_gazebo)/launch/spawn_mavros_instance.launch">
            <arg name="fcu_url" value="udp://127.0.0.1:14561@14565" />
            <arg name="tgt_system" value="1" />
            <arg name="tgt_component" value="1" />
        </include>
    </group>
</launch>
