<launch>
    <!-- Start the gazebo simulation with a single iris drone -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ardupilot_gazebo)/gazebo_worlds/iris_ardupilot.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Connect to the iris via a mavros connection -->
    <include file="$(find ardupilot_gazebo)/launch/spawn_mavros_instance.launch">
    </include>

</launch>
