<launch>
    <!-- Launch a Gazebo simulation with two iris drones -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ardupilot_gazebo)/gazebo_worlds/iris_ardupilot_multiuav.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- create a mavros instance for the each UAV in its own namespace -->
    <group ns="uav1">
        <arg name="log_output" default="screen" />

        <include file="$(find mavros)/launch/node.launch">
            <arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

            <arg name="fcu_url" value="tcp://127.0.0.1:5760" />
            <arg name="gcs_url" value="udp://127.0.0.1@:14550" />
            <arg name="tgt_system" value="1" />
            <arg name="tgt_component" value="1" />
            <arg name="log_output" value="$(arg log_output)" />
        </include>
    </group>

    <!-- create a mavros instance for the each UAV in its own namespace -->
    <group ns="uav2">
        <arg name="log_output" default="screen" />

        <include file="$(find mavros)/launch/node.launch">
            <arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

            <arg name="fcu_url" value="tcp://127.0.0.1:5770" />
            <arg name="gcs_url" value="udp://127.0.0.1@:14560" />
            <arg name="tgt_system" value="1" />
            <arg name="tgt_component" value="1" />
            <arg name="log_output" value="$(arg log_output)" />
        </include>
    </group>
</launch>
