<!--
   Run the fiducial_slam node
-->
<launch>
  <arg name="camera" default="/camera"/>
  <arg name="map_frame" default="map_fid"/>
  <arg name="odom_frame" default=""/>
  <arg name="base_frame" default="base_link_fid"/>
  <arg name="publish_tf" default="true"/>
  <arg name="future_date_transforms" default="0.0"/>
  <arg name="publish_6dof_pose" default="true"/>
  <arg name="fiducial_len" default="0.55"/>
  <arg name="do_pose_estimation" default="true"/>

  <node type="fiducial_slam" pkg="fiducial_slam" output="screen" 
    name="fiducial_slam">
    <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
    <param name="map_frame" value="$(arg map_frame)" />
    <param name="odom_frame" value="$(arg odom_frame)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="future_date_transforms" value="$(arg future_date_transforms)" />
    <param name="publish_6dof_pose" value="$(arg publish_6dof_pose)" />
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
    <param name="fiducial_len" value="$(arg fiducial_len)"/>
    <remap from="/camera_info" to="$(arg camera)/camera_info"/>
    <!-- <remap from="/tf" to="/fid_tf"/> -->

  </node>
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink2camera" args="0.0833 0 -0.0833 -1.5708 0 -1.5708 base_link_fid camera 100"> 
    <remap from="tf" to="fid_tf"/>  -->
    <node pkg="tf" type="static_transform_publisher" name="baselink2camera" args="0.0833 0 -0.0833 -1.5708 0 -1.5708 base_link_fid camera 100">
  </node>
</launch>
